.html {
    padding: 0;
    margin: 0;
}

.ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.body {
    padding: 0;
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
}

.container {
    border-style: double;
    min-height: 800px;
    margin: 20px;
}

.search-text {
    margin-top: 5px;
    width: 300px;
    height: 30px;
    background-color: none;
    border: 1px solid #333;
    border-radius: 10px;
}

.search-text input {
    height: 30px;
    width: 85%;
    border: none;
    padding-left: 15px;
}

.search-btn {
    float: right;
    width: 15%;
    height: 38px;
    line-height: 38px;
    text-align: center;
}

.search-text input .wrapper {
    width: 60%;
    margin: 40px auto;
}

.head-wrapper {
    width: 100%;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    margin: 15px auto 40px auto;
}

.menu {
    height: 90px;
    padding: 15px 30px;
    border-top: 2px solid #000;
    margin-bottom: 20px;
    border-bottom: 2px solid #000;
    box-sizing: border-box;
}

.menu ul li {
    display: inline;
    vertical-align: sub;
    text-align: center;
    font-size: 22px;
    color: #000;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu ul li a {
    text-decoration: none;
    color: #000;
}

.image_body {
    display: flex;
    justify-content: center;
}

.row {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    min-height: 150px;
    background-color: #333;
    text-align: center;
}

.boxcenter {
    width: 50%;
    margin: 0 auto;
}

.boxfooter1 {
    width: 35%;
    float: left;
}

.boxfooter2 {
    width: 25%;
    float: left;
}

.boxfooter3 {
    width: 40%;
    float: left;
}

.colorc {
    color: #ccc;
}

.mrb10 {
    margin-bottom: 10px;
}